.App {
  text-align: center;
  max-width: 400px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: rgb(65, 65, 65);
  color: #e0dbdb;
  padding-bottom: 20px;
  letter-spacing: 2px;
}

.App-header {
  padding: 20px;
}

.App-title {
  font-size: 1.8em;
}

.button {
  border: none;
  margin: 0 12px;
  padding: 2px 8px;
  font-size: large;
  border-radius: 3px;
  transition: all .2s ease-out;
}

.button:hover {
  cursor: pointer;
}

#mode .button {
  color: #9c9c9c;
  background: #414141;
  font-weight: bold;
}

#mode .button:hover {
  background-color: #e0dbdb;
  color: #414141;
}

#mode {
  display: flex;
  justify-content: space-evenly;
}

#controls {
  padding: 0 12px;
  margin-bottom: 64px;
}

#controls .button {
  font-size: 14px;
  margin: 8px;
  padding: 8px 16px;
}

.mode {
  box-sizing: border-box;
  color: #9c9c9c;
  font-size: 14px;
  padding: 12px 12px 28px;
  text-align: center;
}

.active {
  color: #fff;
  box-shadow: -1px 0 0 0 #7b6f6f, 1px 0 1px 0 #000;
  border-radius: 5px;
  transition: all .25s ease-out;
}

.label:hover {
  color: #fff;
  cursor: pointer;
  transition: color .2s ease-out;
}