.App {
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
  background-color: rgb(65, 65, 65);
  color: rgb(224, 219, 219);
  padding-bottom: 20px;
  border-radius: 3px;
}

.App-header {
  padding: 20px;
}

.App-title {
  font-size: 1.5em;
}

.controls {
  display: flex;
  justify-content: space-evenly;
}

h3 {
  margin-bottom: 8px;
}

.button {
  display: inline-block;
  margin: 0 12px;
  padding: 2px 8px;
  font-size: large;
}

.button:hover {
  cursor: pointer;
}
